# 数据集
datasets/
*.npy
*.mat
raw_datasets/
# 仅忽略 batch_pairwise 实验的输出，保留其他实验的输出
output/batch_pairwise/
data/collected_batch_pairwise/

# 模型权重
checkpoints/
*.pth
*.pt
*.ckpt

# 日志
logs/
runs/
*.log

# Python缓存
__pycache__/
*.pyc

# 系统文件
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/

# document
*.doc
*.docx

# audio file
*.mp3
*.aac